*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px, 10/16 = 6.25%
}

body {
  box-sizing: border-box;
  background-image: linear-gradient(180deg, #ced6d5 50%, #2f2e41 50%);
  height: 100vh;
  max-width: 100%;
}

$font-primary: 'Squada One', cursive;
$font-secondary: 'Six Caps', sans-serif;

$color-grey: #afafaf;
$color-dark: #2f2e41;
$color-light: #ced6d5;
$color-green: #00bfa6;
