.heading {
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;

  &__primary {
    font-family: $font-primary;
    font-size: 6rem;
    line-height: 6.5rem;
    letter-spacing: 0.3rem;
    margin-left: 0.3rem;

    &--dec {
      color: $color-dark;
    }

    &--two {
      color: $color-grey;
    }

    &--bin {
      color: $color-green;
    }
  }

  &__secondary {
    font-family: $font-secondary;
    font-size: 26rem;
    line-height: 34rem;
    width: 40rem;
    height: 34.2rem;

    &--light {
      color: $color-light;
    }

    &--dark {
      color: $color-dark;
      letter-spacing: 1rem;
    }
  }

  &__tertiary {
    font-family: $font-primary;
    text-align: center;
    color: $color-light;
    font-size: 1.4rem;
    line-height: 1.5rem;
    margin-top: 3rem;

    &--link:link,
    &--link:visited {
      color: $color-light;
      transition: all 0.3s;
    }

    &--link:hover,
    &--link:active {
      color: $color-green;
    }
  }
}

.form {
  &--input {
    width: 75rem;
    height: 19.5rem;
    font-size: 12rem;
    font-family: $font-primary;
    color: $color-dark;
    margin-bottom: 1.5rem;
    padding-left: 5rem;
    line-height: 12.7rem;
    letter-spacing: 0.04em;
    background: #00bfa6;
    border: 0.5rem solid #2f2e41;
    outline: none;

    &:focus {
      box-shadow: -22.75px 22.75px 0px 0.9px rgba(0, 191, 166, 0.4);
      transition: all 0.3s ease-out;
    }
  }
}

.active {
  box-shadow: -22.75px 22.75px 0px 0.9px rgba(0, 191, 166, 0.4);
  transition: all 0.3s ease-out;
}

.disable {
  box-shadow: 0px 0px 0px 0px rgba(0, 191, 166, 0.4);
  transition: all 0.3s ease-out;
}

.error {
  &:focus {
    background: #bf0030;
    box-shadow: -22.75px 22.75px 0px 0.9px rgba(191, 0, 48, 0.8);
    transition: all 0.3s ease-out;
  }
}
