.main {
  margin: auto 10rem;
  max-width: 100%;
}

.section__decimal {
  display: flex;
  align-items: center;
  gap: 10rem;
}

.section__binary {
  display: flex;
  align-items: center;
  gap: 10rem;
}
