.main {
  margin: auto 10rem;
  max-width: 100%;
}

.section {
  display: flex;
  align-items: center;
  gap: 10rem;
  width: 40rem;
  height: 34.2rem;
  position: relative;
}

.section__decimal {
}

.section__binary {
}
