.main {
  margin: 0 auto;
  max-width: 85%;
}

.section {
  display: flex;
  align-items: center;
  gap: 10rem;
  max-width: 40rem;
  height: 34.2rem;
}

// .section__decimal {
// }

// .section__binary {
// }
